.header
  .header-top
    .header-top__image
      =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "Mercari", size: "134x36")
    .header_form
    -#   = form_for [@product] do |f|
    -#     = f.text_field :nickname, placeholder: '何かお探しですか', class: "header_form__input"
    -#     .header_form__icon
    -#       = icon("fas", "search")

  .header-bottom
    %ul.bottom-header1
      %li.bottom-header1__category
        = icon("fas", "list")
        = link_to "カテゴリーから探す"
      %li.bottom-header1__category
        = icon("fas", "tags")
        = link_to "ブランドを探す"
      -#   = link_to "シャネル"
      -#   = link_to "ナイキ"
      -#   = link_to "ルイ ヴィトン"
      -#   = link_to "シュプリーム"
      -#   = link_to "アディダス"
      -#   = link_to "ブランド一覧"
    %ul.bottom-header2
      %li.bottom-header2__category
        - if user_signed_in?
          = icon("fas", "heart")
          = link_to "いいね一覧"
        - else
          = icon("fas", "heart")
          = link_to "新規登録", users_path
      %li.bottom-header2__category
        = icon("fas", "bell")
        = link_to "お知らせ"
      %li.bottom-header2__category 
        = icon("fas", "check")
        = link_to "やることリスト"
      %li.bottom-header2__category
        - if user_signed_in?
          = icon("fas", "smile")
          = link_to "マイページ", "/users/#{current_user.id}"
        - else
          = icon("fas", "smile")
          = link_to "ログイン", new_user_session_path
          