.user_main
  .user_top
    = link_to "#", class: "top_link" do
      .top_content
        .top_content__image
          = image_tag("/assets/667391445.jpg?1532014695", size: "60x60", alt: "")
        .top_content__name  
          Kazu.s
        .top_content__record
          .top_content__review
            評価 
            %span 25 
          .top_content__number
            出品数 
            %span 6

  .user_news
    %ul.user_news_head
      %li.user_tabs.current
        = link_to "#", class: "user_news_head_link" do
          お知らせ 
      %li.user_tabs
        = link_to "#", class: "user_news_head_link" do
          やることリスト

    %ul.user_content
      %li.user_contact
        = link_to "#", class: "user_contact__link clearfix" do
          = icon('fas', 'chevron-right', class: 'user_contact__icon')
          .user_contact__image
            = image_tag("/assets/E38395E383AAE3839EE382A2E38397E383AA20E383A1E383ABE382ABE383AA20.png", size: "46x46", alt: "")
          .user_contact__right
            .user_contact__message
              事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
            .user_contact__time
              = icon('fas', 'clock')
              19時間前

    
      %li.user_contact
        = link_to "#", class: "user_contact__link clearfix" do
          = icon('fas', 'chevron-right', class: 'user_contact__icon')
          .user_contact__image
            = image_tag("/assets/E38395E383AAE3839EE382A2E38397E383AA20E383A1E383ABE382ABE383AA20.png", size: "46x46", alt: "")
          .user_contact__right
            .user_contact__message
              事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
            .user_contact__time
              = icon('fas', 'clock')
              19時間前

      %li.user_contact
        = link_to "#", class: "user_contact__link clearfix" do
          = icon('fas', 'chevron-right', class: 'user_contact__icon')
          .user_contact__image
            = image_tag("/assets/E38395E383AAE3839EE382A2E38397E383AA20E383A1E383ABE382ABE383AA20.png", size: "46x46", alt: "")
          .user_contact__right
            .user_contact__message
              事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
            .user_contact__time
              = icon('fas', 'clock')
              19時間前

      %li.user_contact
        = link_to "#", class: "user_contact__link clearfix" do
          = icon('fas', 'chevron-right', class: 'user_contact__icon')
          .user_contact__image
            = image_tag("/assets/E38395E383AAE3839EE382A2E38397E383AA20E383A1E383ABE382ABE383AA20.png", size: "46x46", alt: "")
          .user_contact__right
            .user_contact__message
              事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
            .user_contact__time
              = icon('fas', 'clock')
              19時間前

      %li.user_contact
        = link_to "#", class: "user_contact__link clearfix" do
          = icon('fas', 'chevron-right', class: 'user_contact__icon')
          .user_contact__image
            = image_tag("/assets/E38395E383AAE3839EE382A2E38397E383AA20E383A1E383ABE382ABE383AA20.png", size: "46x46", alt: "")
          .user_contact__right
            .user_contact__message
              事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
            .user_contact__time
              = icon('fas', 'clock')
              19時間前

      %li.user_list
        = link_to "#", class: "user_list__move" do
          一覧を見る

  .user_good
    .good_top
      購入した商品

    .user_news
      %ul.user_news_head
        %li.user_tabs.current
          = link_to "#", class: "user_news_head_link" do
            お知らせ 
        %li.user_tabs
          = link_to "#", class: "user_news_head_link" do
            やることリスト

      %ul.user_content
        %li.user_contact
          = link_to "#", class: "user_contact__link clearfix" do
            = icon('fas', 'chevron-right', class: 'user_contact__icon')
            .user_contact__image
              = image_tag("/assets/m10601918349_1.jpg?1550140915", size: "46x46", alt: "")
            .user_contact__right
              .user_contact__message
                「Kazuさん専用を」を購入しました。取引が完了しました。
              .user_contact__finish
                取引完了

      
        %li.user_contact
          = link_to "#", class: "user_contact__link clearfix" do
            = icon('fas', 'chevron-right', class: 'user_contact__icon')
            .user_contact__image
              = image_tag("/assets/m10601918349_1.jpg?1550140915", size: "46x46", alt: "")
            .user_contact__right
              .user_contact__message
                「Kazuさん専用を」を購入しました。取引が完了しました。
              .user_contact__finish
                取引完了

        %li.user_contact
          = link_to "#", class: "user_contact__link clearfix" do
            = icon('fas', 'chevron-right', class: 'user_contact__icon')
            .user_contact__image
              = image_tag("/assets/m10601918349_1.jpg?1550140915", size: "46x46", alt: "")
            .user_contact__right
              .user_contact__message
                「Kazuさん専用を」を購入しました。取引が完了しました。
              .user_contact__finish
                取引完了

        %li.user_contact
          = link_to "#", class: "user_contact__link clearfix" do
            = icon('fas', 'chevron-right', class: 'user_contact__icon')
            .user_contact__image
              = image_tag("/assets/m10601918349_1.jpg?1550140915", size: "46x46", alt: "")
            .user_contact__right
              .user_contact__message
                「Kazuさん専用を」を購入しました。取引が完了しました。
              .user_contact__finish
                取引完了

        %li.user_contact
          = link_to "#", class: "user_contact__link clearfix" do
            = icon('fas', 'chevron-right', class: 'user_contact__icon')
            .user_contact__image
              = image_tag("/assets/m10601918349_1.jpg?1550140915", size: "46x46", alt: "")
            .user_contact__right
              .user_contact__message
                「Kazuさん専用を」を購入しました。取引が完了しました。
              .user_contact__finish
                取引完了
        %li.user_list
          = link_to "#", class: "user_list__move" do
            一覧を見る

      

    