.add-head
          %h2
            クレジットカード情報入力
        .add-bottom
          .add-bottom__name
            = form_for @card, method: :get, url: done_signup_index_path do |f|
              %label
                カード番号
              %span
                必須
              .name-first
                = f.text_field :card_number, placeholder: "半角英数字のみ", class:'default', value:""
              .card-image
                =image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/1200px-Visa_2014_logo_detail.svg.png",height: "20px",width: "40px",class:"header-image",alt: "")
                =image_tag("https://cdn-ak.f.st-hatena.com/images/fotolife/s/styrome/20190112/20190112114742.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                =image_tag("https://www.saisoncard.co.jp/cmn_data/img/apple-touch-icon.png",height: "20px",width: "40px",class:"header-image",alt: "")
                =image_tag("https://i2.wp.com/creditcard-site.com/images/jcb_logo.jpg?fit=600%2C370&ssl=1",height: "20px",width: "40px",class:"header-image",alt: "")
                =image_tag("http://www.netmile.co.jp/contents/wp-content/uploads/2016/09/cw_27top.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                =image_tag("https://tabi-mile.com/wp-content/uploads/2015/02/0356_diners_club_logo.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                -# =image_tag("https://blog.mudora.jp/wp-content/uploads/2015/12/credit.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                -# -# =image_tag("/assets/card",height:"50px",width: "100%")
              .add-bottom__remit
                %label
                  有効期限
                %span
                  必須
                .remit-card
                  =icon('fas', 'chevron-down')
                  = f.select :month, [["---", "---"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"] ,["10","10"] ,["11","11"],["12","12"]]
                  %p
                    月
                .remit-card
                  =icon('fas', 'chevron-down')
                  = f.select :year,[["---", "---"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"] ,["10","10"] ,["11","11"],["12","12"]]
                  %p
                    年
              .add-bottom__name
                %label
                  セキュリティコード
                %span
                  必須
                .name-first
                  = f.text_field :safity_number, placeholder: "カードの背面もしくは３桁の番号", class:'input-default', value:""
              .card-content-question  
                =link_to "https://www.mercari.com/jp/privacy/", class:"question-card" do
                  ?
                =link_to "https://www.mercari.com/jp/privacy/", class:"question-message" do
                  カードの背面の番号とは？ 
              .next-button
                = f.submit "追加する", class: 'login-submit.btn-default.btn-red'
    = render partial: "layouts/footer"