.header
  .header-top
    .header-top__image
      = link_to root_path do
        = image_tag("/images/fmarket_logo_red.svg", alt: "Mercari", size: "134x36")
    .header_form
      %input.header_form__input{type: 'text', placeholder: '何かお探しですか'}
      .header_form__icon
        = icon("fas", "search")




  .header-bottom
    %ul.bottom-header1
      %li.bottom-header1__category
        = icon("fas", "list")
        = link_to "カテゴリーから探す"
      %li.bottom-header1__category
        = icon("fas", "tags")
        = link_to "ブランドを探す"
    %ul.bottom-header2
      %li.bottom-header2__category
        - if user_signed_in?
          = icon("fas", "heart")
          = link_to "いいね一覧"
        - else
          = icon("fas", "heart")
          = link_to "新規登録", "/users"
      %li.bottom-header2__category
        = icon("fas", "bell")
        = link_to "お知らせ"
      %li.bottom-header2__category
        = icon("fas", "check")
        = link_to "やることリスト"
      %li.bottom-header2__category
        - if user_signed_in?
          = icon("fas", "smile")
          = link_to "マイページ", "/users/#{current_user.id}"
        - else
          = icon("fas", "smile")

          = link_to "ログイン", new_user_session_path
