.body
  =render "shared/mainheader"
  .main
    .main-box
      =render "shared/sidebar"
      .contents-main
        .contents-add-input
          .add-head
            %h2
              クレジットカード情報入力
          .add-bottom
            .add-bottom__name
              = form_tag(pay_users_path, method: :post, id: 'charge-form',  name: "inputForm") do
                %label
                  カード番号
                %span
                  必須
                .name-first
                  = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
                .card-image
                  =image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/1200px-Visa_2014_logo_detail.svg.png",height: "20px",width: "40px",class:"header-image",alt: "")
                  =image_tag("https://cdn-ak.f.st-hatena.com/images/fotolife/s/styrome/20190112/20190112114742.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                  =image_tag("https://www.saisoncard.co.jp/cmn_data/img/apple-touch-icon.png",height: "20px",width: "40px",class:"header-image",alt: "")
                  =image_tag("https://i2.wp.com/creditcard-site.com/images/jcb_logo.jpg?fit=600%2C370&ssl=1",height: "20px",width: "40px",class:"header-image",alt: "")
                  =image_tag("http://www.netmile.co.jp/contents/wp-content/uploads/2016/09/cw_27top.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                  =image_tag("https://tabi-mile.com/wp-content/uploads/2015/02/0356_diners_club_logo.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                  -# =image_tag("https://blog.mudora.jp/wp-content/uploads/2015/12/credit.jpg",height: "20px",width: "40px",class:"header-image",alt: "")
                  -# -# =image_tag("/assets/card",height:"50px",width: "100%")
                .add-bottom__remit
                  %label
                    有効期限
                  %span
                    必須
                  .remit-card
                    =icon('fas', 'chevron-down')
                    %select#exp_month{name: "exp_month", type: "text"}
                      %option{value: ""} --
                      %option{value: "1"}01
                      %option{value: "2"}02
                      %option{value: "3"}03
                      %option{value: "4"}04
                      %optn{value: "8"}08
                      %option{value: "9"}09
                      %option{value: "10"}10
                      %option{value: "11"}11
                      %option{value: "12"}12
                    %p
                      月
                  .remit-card
                    =icon('fas', 'chevron-down')
                    %select#exp_year{name: "exp_year", type: "text"}
                      %option{value: ""} --
                      %option{value: "2019"}19
                      %option{value: "2020"}20
                      %option{value: "2021"}21
                      %option{value: "2022"}22
                      %option{value: "2023"}23
                      %option{value: "2024"}24
                      %option{value: "2025"}25
                      %option{value: "2026"}26
                      %option{value: "2027"}27
                      %option{value: "2028"}28
                      %option{value: "2029"}29
                    %p
                      年
                .add-bottom__name
                  %label
                    セキュリティコード
                  %span
                    必須
                  .name-first
                    = text_field_tag "cvc", "", class:'input-default', placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
                .card-content-question  
                  =link_to "https://www.mercari.com/jp/privacy/", class:"question-card" do
                    ?
                  =link_to "https://www.mercari.com/jp/privacy/", class:"question-message" do
                    カードの背面の番号とは？ 
                .next-button
                  #card_token
                  = submit_tag "追加する", id: "token_submit",class: 'login-submit.btn-default.btn-red'
    = render partial: "shared/footer"
