.body
  .contents
    .contents__header
      %h1
        =link_to "https://www.mercari.com/jp/", class: "mercari-icon", id:"" do
          = image_tag("/images/fmarket_logo_red.svg",alt: "mercari")
    .contents-main
      .contents-add-input
        .add-head
          %h2
            支払い方法
        .add-bottom
          .add-bottom__name
            = form_tag( "/products/#{current_user.id}/pay", method: :post, id: 'charge-form',  name: "inputForm") do
              %label
                カード番号
              %span
                必須
              .name-first
                = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              .card-image
                =image_tag("/images/credit-cards/visa.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/master-card.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/saison-card.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/jcb.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/american_express.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/dinersclub.svg",height: "30px",width: "40px",class:"header-image",alt: "")
                =image_tag("/images/credit-cards/discover.svg",height: "30px",width: "40px",class:"header-image",alt: "")
              .add-bottom__remit
                %label
                  有効期限
                %span
                  必須
                .remit-card
                  =icon('fas', 'chevron-down')
                  %select#exp_month{name: "exp_month", type: "text"}
                    %option{value: ""} --
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %optn{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                  %p
                    月
                .remit-card
                  =icon('fas', 'chevron-down')
                  %select#exp_year{name: "exp_year", type: "text"}
                    %option{value: ""} --
                    %option{value: "2019"}19
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                  %p
                    年
              .add-bottom__name
                %label
                  セキュリティコード
                %span
                  必須
                .name-first
                  = text_field_tag "cvc", "", class:'input-default', placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              .card-content-question  
                =link_to "https://www.mercari.com/jp/privacy/", class:"question-card" do
                  ?
                =link_to "https://www.mercari.com/jp/privacy/", class:"question-message" do
                  カードの背面の番号とは？ 
              .next-button
                #card_token
                = submit_tag "登録する", id: "token_submit",class: 'login-submit.btn-default.btn-red'
    = render partial: "shared/footer"
         