.wrapper
  =render partial: "shared/mainheader"
  .top-main
    .slide
      %ul.container
        %li.current
          =image_tag("/images/welcome-sign-2284312_1920.jpg",height: "390",width: "100%", alt: "")
        %li
          =image_tag("/images/sale-1067126_1920.jpg",height: "390",width: "100%", alt: "")
        %li
          = link_to "#" do
            =image_tag("/images/2011091603.jpg",height: "390",width: "100%", alt: "")
      = link_to "#", class: "prev" do
        前の画像
      = link_to "#", class: "next" do
        次の画像
    -if user_signed_in?
      =link_to new_product_path, class: "exhibit-button" do
        .exhibit-button__wide
          .exhibit-button__wide__content
            .exhibit-button__wide__content__text
              出品
            .exhibit-button__wide__content__icon
              %i.fa.fa-camera
    - else
      =link_to new_user_session_path, class: "exhibit-button" do
        .exhibit-button__wide
          .exhibit-button__wide__content
            .exhibit-button__wide__content__text
              出品
            .exhibit-button__wide__content__icon
              %i.fa.fa-camera

    .main
      .main-header
        .famous-categories
          人気のカテゴリー
        .category
          .ladies
            .font
              レディース
          .mens
            .font
              メンズ
          .av
            .font
              家電・スマホ・カメラ
          .hoby
            .font
              おもちゃ・ホビー・グッズ
      .items
        .item-review
          .ladies-new
            .content
              レディーズの新着アイテム
              %li
                =link_to "", id:"",class: "more" do
                  もっと見る >
          .item-images
            .item-images__review
              - @ladies_products.each do |product|
                = render partial: "shared/productimage", locals: { product: product }
      .items
        .item-review
          .ladies-new
            .content
              メンズの新着アイテム
              %li
                =link_to "", id:"",class: "more" do
                  もっと見る >
          .item-images
            .item-images__review
              - @mens_products.each do |product|
                = render partial: "shared/productimage", locals: { product: product }
      .items
        .item-review
          .ladies-new
            .content
              家電・スマホ・カメラの新着アイテム
              %li
                =link_to "", id:"",class: "more" do
                  もっと見る >
          .item-images
            .item-images__review
              - @devise_products.each do |product|
                = render partial: "shared/productimage", locals: { product: product }
      .items
        .item-review
          .ladies-new
            .content
              おもちゃ・ホビー・グッズの新着アイテム
              %li
                =link_to "", id:"",class: "more" do
                  もっと見る >
          .item-images
            .item-images__review
              - @toy_products.each do |product|
                = render partial: "shared/productimage", locals: { product: product }
    .main
      .main-header
        .famous-categories
          新着商品一覧
        .category
          .ladies
            .font
              衣服・家電・プラモデルなど多数の商品お取り扱い中！
      .items
        .item-review
          .ladies-new
            .content
              新着アイテム
              %li
                =link_to "", id:"",class: "more" do
                  もっと見る >
          .item-images
            .item-images__review
              - @products.each do |product|
                = render partial: "shared/productimage", locals: { product: product }
  =render partial:"shared/footer-imag"
  =render partial:"shared/mainfooter"