= render 'users/mainheader'
- breadcrumb :myproduct
= breadcrumbs separator: "<i class='fas fa-angle-right'></i>"
%body
  .default-container
    %section.item-box-container.l-single-container
      %h1.item-name
        = @product.name
      %p.item-wording
        = @product.name + "は、236回の取引実績を持つ"
      .item-main-content.clearfix
        .item-photo
          .owl-carousel.owl-loaded.owl-drag
            .owl-stage-outer
              .owl-stage{style: "left: 0px; width: 1800px;"}
                .owl-item.active{style: "width: 300px;"}
                  .owl-item-inner.is-higher-height
                    =image_tag @images.first.image.url,class:"owl-lazy",size: "188x188"
                - @product.images.each_with_index do |i, index|
                  - if index != 0
                    .owl-item{style: "width: 300px;"}
                      %span
                      .owl-item-inner.is-higher-height
                        =image_tag i.image.url,class:"owl-lazy",size: "188x188"
            .owl-nav.disabled
              .owl-prev prev
              .owl-next next
            .owl-dots
              .owl-dot.active
                %span
                .owl-dot-inner
                  =image_tag @images.first.image.url,class:"is-higher-height"
              - @product.images.each_with_index do |i, index|
                - if index != 0
                  .owl-dot
                    %span
                    .owl-dot-inner
                      =image_tag i.image.url,class:"is-higher-height"
        .item-price-box.text-center.visible-sp
          %span.item-price.bold
            ¥
            = @product.price
          %span.item-tax (税込)
          %span.item-shipping-fee 送料込み
        %section.visible-sp
          .item-btn-float-area
            =link_to purchase_product_path,class:"item-buy-btn" do
              購入画面に進む
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                =link_to user_path(),id:"" do
                  = @user.nickname
                %div
                  .item-user-ratings
                    =icon('far', 'laugh', class: "icon-good")
                    %span 236
                  .item-user-ratings
                    =icon('far', 'grimace', class: "icon-normal")
                    %span 0
                  .item-user-ratings
                    =icon('far', 'frown', class: "icon-bad")
                    %span 0
            %tr
              %th カテゴリー
              %td
                =link_to "https://www.mercari.com/jp/category/1/",id:"" do
                  %div
                  - if @category.parent.parent != nil
                    = @category.parent.parent.name
                =link_to "https://www.mercari.com/jp/category/20/",id:"" do
                  .item-detail-table-sub-category
                    %i.icon-arrow-right
                      = @category.parent.name
                =link_to "https://www.mercari.com/jp/category/214/",id:"" do
                  .item-detail-table-sub-sub-category
                    %i.icon-arrow-right
                      = @category.name
            %tr
              %th ブランド
              %td
                =link_to "https://www.mercari.com/jp/brand/539/",id:"" do
                  %div
                    = @brand.name
            %tr
              %th 商品の状態
              %td やや傷や汚れあり
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td ゆうゆうメルカリ便
            %tr
              %th 配送元地域
              %td
                =link_to "https://www.mercari.com/jp/area/12/",id:"" do
                  千葉県
            %tr
              %th 発送日の目安
              %td 2~3日で発送
      .item-price-box.text-center
        %span.item-price.bold
          ¥
          = @product.price
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      .item-description.f14
        %p.item-description-inner
          = @product.description
    .item-chenge
      .products-edit-btn
        =link_to "商品の編集", edit_product_path
      .or-content
        or
      .btn-gray
        %a
          出品を一旦停止する
      .btn-gray
        %li
          =link_to product_path, id:"", method: :delete,class: "delete" do
            この商品を削除する
    .item-detail-message
      .message-container
        .message-content1
          .messages
            .message-1
              .message-user
                .user-image
                  =image_tag("/images/nikorun.jpg",class:"img")
                  .exhibitor
                .user-name
                  user-name
              .message-text
                .message-text__text
                  ありがとう
                .post-time
                  .times-left
                    %i.far.fa-clock
                    .time
                      2時間前
            .message-2
              .message-user
                .user-image
                  =image_tag("/images/nikorun.jpg",class:"img")
                  .exhibitor
                    %p
                      出品者
                .user-name
                  user-name
              .message-text
                .message-text__text
                  こちらこそ
                .post-time
                  .times-left
                    %i.far.fa-clock
                    .time
                      1時間前
        .message-content2
          .message-form
            .caution
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .text
            %textarea{cols:"40",name:"kanso",rows:"4",class:"form"}
            .submit
              %p
                コメントする
    .navigation

= render 'users/footer-imag'
= render 'layouts/mainfooter'
